{{define "AllergenVerificationStep"}}

{{template "Header"}}
    {{if .User.HasPermission "Menu"}}
    {{ template "Menu" }}
  {{else}}
    {{ template "Menu_lv1"}}
  {{end}}
  
  
    {{ template "Nav_report"}}
  
  
    <input id="idHeader" type="number" value={{ .SubHeader.Header}} hidden>
    <input id="pvalue" type="number" value={{ .SubHeader.Pvalue}} hidden>
    <input id="pline" type="text" value={{ .SubHeader.Line}} hidden>
  
    <div class="card">
       <table class="table table-responsive table-bordered">
         <tbody id="HeaderBody" style="font-size: medium">
         </tbody>
       </table>
     </div>
   
   <br><br>
  
   <div class="card">
    <table class="table table-responsive table-bordered">
      <tbody style="font-size: medium">
      <tr>
        <td><strong>Linea:</strong>  {{.SubHeader.Line}} </td>
        <td><strong>Coordinador:</strong>  {{.SubHeader.Coordinator}} </td>
        <td><strong>Operador:</strong>  {{.SubHeader.Operator}} </td>
        <td><strong>Producto:</strong>  {{.SubHeader.Presentation}}  {{.SubHeader.Pvalue}}  {{.SubHeader.Punit}}</td>
        <td><strong>Fecha:</strong>  {{.SubHeader.Date}}</td>
        <td><strong>Turno:</strong>  {{.SubHeader.Turn}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <br><br>  
  <div id="muestreo" class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
        Trazabilidad por Batche / Material de Empaque
      </div>
        <div class="col">
          <button class="btn-primary btn-block" data-toggle="modal" data-target="#tutorial">Tutorial<img src="/public/images/tutorial.png" width="40" height="33" alt=""></button>
        </div>
      </div>

      </div>
      <div class="card-body">
  
          <form enctype="multipart/form-data" action="insertAllergenVerification" method="POST" id="crqs">
              <input name="unit" type="text" value={{ .SubHeader.Punit}} hidden>
              <input name="sub" type="number" value={{ .SubHeader.Id}} hidden>
              <input id="prate" type="number" value={{ .SubHeader.Perror}} hidden>
  
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="area">Razon de cambio</label>
                      <select name="reason" id="reason" class="form-control"></select>
                  </div>
              </div>
              <br><hr>
              <div class="row">
                  <div class="form-group col-md-4">
                      <label for="area">#Batche</label>
                      <input type="text" name="batch" id="batch" class="form-control" required>
                  </div>
                  <div class="form-group col-md-4">
                      <label for="line">#Bobina #Etiqueta</label>
                      <input type="text" name="coil" id="coil" class="form-control"  placeholder="### ###" required maxlength="24">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="line">Peso de bobina (Kg)</label>
                      <input type="number" name="coil_weight" placeholder="###.##" id="coil_weight" class="form-control" step="0.1" required>
                  </div>
              </div> 
            <br><hr>
            <center><h3>Aplica a Mayonesa</h3></center>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="area">#Plug</label>
                    <input type="text" name="plug" id="plug" class="form-control" value="0">
                </div>
                <div class="form-group col-md-4">
                    <label for="line">#Tapa</label>
                    <input type="text" name="top" id="top" class="form-control" value="0">
                </div>
                <div class="form-group col-md-4">
                    <label for="line">#Galon</label>
                    <input type="text" name="galon" id="galon" class="form-control" value="0">
                </div>
            </div> 


            <div class="custom-file">
                <input type="file" class="custom-file-input" name="capture_frontal"  id="frontalImg" onchange="loadImage_frontal();" required>
                <label class="custom-file-label" style="outline: 5px double #CCCCCC;" for="customFile">
                  <img src="/public/images/photo-camera.png" width="32px" height="32px"> 
                  Capture laminado / <b>etiqueta frontal</b>
                </label>
              </div>
<br><hr>
              <canvas id="canvas_frontal"></canvas>
<br><br><hr>
<div class="custom-file">
    <input type="file" class="custom-file-input" name="capture_info"  id="infoImg" onchange="loadImage_info();" required>
    <label class="custom-file-label" style="outline: 5px double #CCCCCC;" for="customFile">
      <img src="/public/images/photo-camera.png" width="32px" height="32px"> 
      Capture etiqueta de informacion (Alergenos) (PCC) / <b> etiqueta tracera</b>
    </label>
  </div>
<br><hr>
  <canvas id="canvas_info"></canvas>

<br><br><hr>
<center>
<h4>
    Seleccione los alergenos del producto
  </h4>
  <div class="form-check form-check-inline">
    <input class="form-check-input" onclick="allergenCase()" id="milk" type="checkbox" name="milk" value="1" />
    <label class="form-check-label" for="inlineCheckbox1">Lacteos</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="checkbox"
      value="1"
      id="soya"
      onclick="allergenCase()"
      name="soya"
    />
    <label class="form-check-label" for="inlineCheckbox2">Soya</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="checkbox"
      value="1"
      onclick="allergenCase()"
      id="gluten"
      name="gluten"
    />
    <label class="form-check-label" for="inlineCheckbox3"
      >Gluten</label
    >
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="checkbox"
      value="1"
      id="egg"
      onclick="allergenCase()"
      name="egg"
    />
    <label class="form-check-label" for="inlineCheckbox1">Huevo</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="checkbox"
      id="noaplica"
      onclick="noAplica()"
      checked=true
    />
    <label class="form-check-label" for="inlineCheckbox1" >N/A</label>
  </div>
</center>
<hr>
<br><br>
            <input type="submit" class="btn btn-primary btn-block" value="Listo" onsubmit="loading()">
            <img  class="card-img-bottom" src="/public/images/visual_ul02.jpg"  height="92" width="100%">
    
          </form>
      </div>
  </div>     
  




<!-- Modal -->
<div
class="modal fade"
id="tutorial"
tabindex="-1"
role="dialog"
aria-labelledby="timeSetForm"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="closeFormLabel">Tutorial</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <video  poster="/public/images/posterUnilever.png" autoplay="autoplay" controls="controls">
      <source src="/public/videos/allergenos.mp4" type="video/mp4">
      <source src="/public/videos/allergenos.mp4" type="video/webm">
      <p>Your browser doesn't support HTML5 video. Here is a <a href="/public/videos/allergenos.mp4">link to the video</a> instead.</p>
      </video>

    <img
      class="card-img-bottom"
      src="/public/images/visual_ul02.jpg"
      height="184"
      width="100%"
    />
  </div>
</div>
</div>

  <script src="/public/scripts/jquery-3.3.1.min.js"></script>
  
  <script> 
  
  
  
  $(document).ready(function () {
         
       $.getJSON("/getHeaderBy?id="+$("#idHeader").val(), function (data) {
       $("#HeaderBody").empty();
           $("#HeaderBody").append("<tr>");
           $("#HeaderBody").append(
             "<td> <img src='/public/images/logo00.jpg' height='59' width='53'>  Unilever Planta Belen Costa Rica</td>"+
             "<td>Codigo del Documento: "+data.Cod_doc+"</td>"+
             "<td>Revision No "+data.Revision_no+"</td>"
           );
           $("#HeaderBody").append("</tr>");
           $("#HeaderBody").append("<tr>");
           $("#HeaderBody").append(
             "<td>"+data.Name+"</td>"+
             "<td>Fecha de Ultima Revision: "+data.Revision_date+"</td>"+
             "<td>Fecha de Proxima Revision: "+data.Next_revision_date+"</td>"
           );
           $("#HeaderBody").append("</tr>");
       });

       $.getJSON("/getReason_change", function(data){
            $("#reason").empty();
            $.each(data, function(index, row){
                    $("#reason").append("<option value='"+row.Id+"' >"+row.Name+"</option>")
                });
        });

  
   });


   function noAplica(){
      document.getElementById("milk").checked = false;
      document.getElementById("soya").checked = false;
      document.getElementById("gluten").checked = false;
      document.getElementById("egg").checked = false;
   }

   function allergenCase(){
     document.getElementById("noaplica").checked = false;
   }


      function loadImage_frontal() {
          var input, file, fr, img;
  
          if (typeof window.FileReader !== 'function') {
              write("The file API isn't supported on this browser yet.");
              return;
          }
  
          input = document.getElementById('frontalImg');
          if (!input) {
              write("Um, couldn't find the imgfile element.");
          }
          else if (!input.files) {
              write("This browser doesn't seem to support the `files` property of file inputs.");
          }
          else if (!input.files[0]) {
              write("Please select a file before clicking 'Load'");
          }
          else {
              file = input.files[0];
              fr = new FileReader();
              fr.onload = createImage;
              fr.readAsDataURL(file);
          }
  
          function createImage() {
              img = new Image();
              img.onload = imageLoaded;
              img.src = fr.result;
          }
  
          function imageLoaded() {
              var canvas = document.getElementById("canvas_frontal");
              var ctx = canvas.getContext("2d");
  
              canvas.width = 500;
              canvas.height = 500;
  
              var scale = Math.max(canvas.width / img.width, canvas.height / img.height);
              // get the top left position of the image
              var x = (canvas.width / 2) - (img.width / 2) * scale;
              var y = (canvas.height / 2) - (img.height / 2) * scale;
              ctx.drawImage(img, x, y, img.width * scale, img.height * scale);
          }
  
          function write(msg) {
              var p = document.createElement('p');
              p.innerHTML = msg;
              document.body.appendChild(p);
          }
      }
  


      function loadImage_info() {
          var input, file, fr, img;
  
          if (typeof window.FileReader !== 'function') {
              write("The file API isn't supported on this browser yet.");
              return;
          }
  
          input = document.getElementById('infoImg');
          if (!input) {
              write("Um, couldn't find the imgfile element.");
          }
          else if (!input.files) {
              write("This browser doesn't seem to support the `files` property of file inputs.");
          }
          else if (!input.files[0]) {
              write("Please select a file before clicking 'Load'");
          }
          else {
              file = input.files[0];
              fr = new FileReader();
              fr.onload = createImage;
              fr.readAsDataURL(file);
          }
  
          function createImage() {
              img = new Image();
              img.onload = imageLoaded;
              img.src = fr.result;
          }
  
          function imageLoaded() {
              var canvas = document.getElementById("canvas_info");
              var ctx = canvas.getContext("2d");
  
              canvas.width = 500;
              canvas.height = 500;
  
              var scale = Math.max(canvas.width / img.width, canvas.height / img.height);
              // get the top left position of the image
              var x = (canvas.width / 2) - (img.width / 2) * scale;
              var y = (canvas.height / 2) - (img.height / 2) * scale;
              ctx.drawImage(img, x, y, img.width * scale, img.height * scale);
          }
  
          function write(msg) {
              var p = document.createElement('p');
              p.innerHTML = msg;
              document.body.appendChild(p);
          }
      }


  </script>
</body>
{{ template "Footer" }}
{{ end }}
