{{define "ConsolidatedTemperatureControl"}}
{{template "Header"}}

{{if .HasPermission "Menu"}}
{{ template "Menu" }}
{{else}}
{{ template "Menu_lv1"}}
{{ end }}
<br />
<center>
  <h2 style="color: gold;">Control Temperaturas de Proceso</h2>
</center>
<div class="card">
  <div class="card-body">
    <form action="#">
      <div class="form-row  align-items-center">
        <div class="col-md-2 col-md-offset-3">
          <label for="">Area</label>
          <select name="area" id="area" class="form-control"></select>
        </div>

        <div class="col-md-2 col-md-offset-3">
          <label for="">Linea</label>
          <select name="line" id="line" class="form-control" required></select>
        </div>
        <div class="col-md-2 col-md-offset-3">
          <label> Fecha inicio </label>
          <input
            type="date"
            id="dinit"
            name="dinit"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-4 col-md-offset-3">
          <label> Fecha final </label>
          <input
            type="date"
            id="dfinal"
            name="dfinal"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-2 col-md-offset-3">
          <input
            type="button"
            class="btn btn-primary"
            value="Filtrar"
            onclick="filterTemperatureControl()"
          />
        </div>
      </div>
    </form>
  </div>
</div>
<br /><br /><br />
<center><h2 style="color: gold;">Muestras</h2></center>
<a id="dlink" style="display:none;"></a>

<input
  id="exportButton"
  class="btn btn-block btn-success"
  type="button"
  onclick="tableToExcel('data_table', 'name', 'reporteTemperaturas.xls')"
  value="Exportar a Excel"
  hidden="true"
/>
<br />

<div class="container">
  <div class="table-responsive-xl">
    <table
    class="table  table-dark table-striped"
    style="font-size: small"
    id="data_table"
    >
    <thead>
      <tr>
        <td>Perfil</td>
        <td>Fecha</td>
        <td>Usuario</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Turno</td>
        <td>Linea</td>
        <td>Presentacion</td>
        <td>N° Batche</td>
        <td>Presion Tolva(psi)</td>
        <td>Temperatura intercambiador(°C)</td>
        <td>Temperatura tolva(°C)</td>
        <td>Temperatura llenado(°C)</td>
        <td>Observacion</td>
      </tr>
    </thead>
    <tbody id="data_p"></tbody>
    </table>
  </div>
</div>
<br>
<center>
    <p id="noResult" style="color: white; font-size: 36px" hidden>No hay resultados!</p>
    <img id="desert" src="/public/images/desertIconWhite.png" alt="noResultados" hidden>
</center>



<script src="/public/scripts/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function() {
    $.getJSON("/getArea", function(data) {
      $("#area").empty();
      $.each(data, function(index, row) {
        $("#area").append(
          "<option value='" + row.Id + "' >" + row.Name + "</option>"
        );
      });
      $.getJSON("/getLineBy?id=" + $("#area").val(), function(data) {
        $("#line").empty();
        $.each(data, function(index, row) {
          $("#line").append(
            "<option value='" + row.Id + "' >" + row.Name + "</option>"
          );
        });
      });
    });
    $("#area").change(() => {
      $.getJSON("/getLineBy?id=" + $("#area").val(), function(data) {
        $("#line").empty();
        $.each(data, function(index, row) {
          $("#line").append(
            "<option value='" + row.Id + "' >" + row.Name + "</option>"
          );
        });
      });
    });
  });

   function filterTemperatureControl(){
    $.getJSON("/getTemperatureControlV00?line="+$("#line").val()+"&dinit="
    +$("#dinit").val()+"&dfinal="+$("#dfinal").val(), data=>{
        if(data.length == 0 ){
          hiddeE('desert', false);
          hiddeE('noResult', false);
        }else{
          hiddeE('desert', true);
          hiddeE('noResult', true);
        }
        $("#data_p").empty();
        $.each(data, function(index, row) {
            $("#data_p").append("<tr>");
            $("#data_p").append(
             "<td><img  loading='lazy' style='border-radius: 50%;' src='"+row.Profile_picture+"' width='75' height='75'></td>"+
             "<td>"+row.Date+"</td>"+
             "<td>"+row.Nname+"</td>"+
             "<td>"+row.Fname+"</td>"+
             "<td>"+row.Lname+"</td>"+
             "<td>"+row.Turn+"</td>"+
             "<td>"+row.Line+"</td>"+
             "<td>"+row.Pname+"</td>"+
             "<td>"+row.Batch+"</td>"

            );   

            evalCase(row.Psi, row.PSI_bottom, row.PSI_top);
            evalCase(row.Exchange_temperature, row.Interchange_bottom, row.Interchange_top);
            evalCase(row.Hopper_temperature, row.Hopper_bottom, row.Hopper_top);
            evalCase(row.Fill_temperature, row.Fill_botttom, row.Fill_top);

            $("#data_p").append("<td>"+row.Observation+"</td>");

            $("#data_p").append("</tr>");
        });
    
    });
    hiddeE("exportButton", false);

   }

   function evalCase(value, bottom, top){

      if (value < bottom ) {
        $("#data_p").append(
          "<td style='background-color: red'>" + value + "</td>"
        );
      }else if ( value > top){
        $("#data_p").append(
          "<td style='background-color: orange'>" + value + "</td>"
        );
      }else{
        $("#data_p").append(
          "<td style='background-color: green'>" + value + "</td>"
        );
      }


   }


  var tableToExcel = (function() {
    var uri = "data:application/vnd.ms-excel;base64,",
      template =
        '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64 = function(s) {
        return window.btoa(unescape(encodeURIComponent(s)));
      },
      format = function(s, c) {
        return s.replace(/{(\w+)}/g, function(m, p) {
          return c[p];
        });
      };
    return function(table, name, filename) {
      if (!table.nodeType) table = document.getElementById(table);
      var ctx = { worksheet: name || "Worksheet", table: table.innerHTML };

      document.getElementById("dlink").href =
        uri + base64(format(template, ctx));
      document.getElementById("dlink").download = filename;
      document.getElementById("dlink").click();
    };
  })();


</script>


{{template "Footer"}}
{{ end }}
