{{define "EditLine"}}
{{ template "Header" }}
{{ template "Menu" }} 
{{ template "Nav_sectors"}}
<div class="d-flex align-items-center flex-column justify-content-center h-100">
<div class="card w-50">
<div class="card-header">Editar Fabrica</div>
<div class="card-body">
    <form method="POST" action="updateLine">
    <input type="hidden" name="uid" value="{{ .Id }}" />
    <div class="form-group">
        <label for="">Fabrica</label>
        <select class="form-control" name="factory" id="pfactory"></select>
    </div>
    <div class="form-group">
        <label for="">Area</label>
        <select class="form-control" name="area" id="parea"></select>
    </div>
    

    <div class="form-group">    
    <label>Nombre</label>
    <input type="text" name="name"  class="form-control" value="{{ .Name }}"  required/><br /> 
    </div>
    <br><br>
    <input class="btn-block" type="submit" value="Guardar" onsubmit="loading()" />
    <img  class="card-img-bottom" src="/public/images/visual_ul02.jpg"  height="92" width="100%">
    </form>
</div>
</div>
</div> 
<br />    
<hr>
<script src="/public/scripts/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(()=>{
    $.getJSON("/getFactory", data=>{
        $("#pfactory").empty();
        $.each(data, (index, row)=>{
            $("#pfactory").append("<option value='"+row.Id+"' >"+row.Name+"</option>")
        });
        $.getJSON("/getAreaBy?id="+$("#pfactory").val(), data=> {
            $("#parea").empty();

            $.each(data, (index, row) =>{
                $("#parea").append("<option value='" + row.Id + "'>" + row.Name+"</option>");
            });
        });
    });

    $("#pfactory").change(()=>{
        $.getJSON("/getAreaBy?id="+$("#pfactory").val(), data=> {
            $("#parea").empty();

            $.each(data, (index, row) =>{
                $("#parea").append("<option value='" + row.Id + "'>" + row.Name+"</option>");
            });
        });
    });
});


</script>
{{ template "Footer" }}
{{end}}