{{ define "NavAM" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto nav-tabs">
            
            <li id="" >
              <a class="nav-link" href="/Machine" onclick="loading()">Grupo Maquinas</a>
            </li>
            <li id="" >
              <a class="nav-link" href="/Component" onclick="loading()">Componente</a>
            </li>

            <li id="" >
              <a class="nav-link" href="/EPP" onclick="loading()">EPP</a>
            </li>

            <li id="" >
              <a class="nav-link" href="/AM_Job" onclick="loading()">Trabajos</a>
            </li>

          </ul>

        </div>
    </nav>
<br>
{{end}}