{{ define "NavGestionMante" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto nav-tabs">
      <li>
        <a class="nav-link" href="/gestionCurrentTags" onclick="loading()"
          >Actual</a
        >
      </li>
      <li>
        <a class="nav-link" href="/gestionSolicitudBoletas" onclick="loading()"
          >Solicitudes | Boletas</a
        >
      </li>
    </ul>
  </div>
</nav>
<br />
{{ end }}
