{{define "NewFactory"}}
{{ template "Header" }}
{{ template "Menu" }}
{{ template "Nav_sectors"}}
 <div class="d-flex align-items-center flex-column justify-content-center h-100">
<div class="card w-50">
<div class="card-header">Nueva Fabrica</div>
    <div class="card-body">
        <form method="POST" action="insertFactory">

        <div class="form-group">    
        <label>Nombre</label>
        <input type="text" name="name"  class="form-control" placeholder="Nombre" required/><br />
        </div>
        <br><br>
        <input class="btn-block" type="submit" value="Guardar" onsubmit="loading()"/>
        <img  class="card-img-bottom" src="/public/images/visual_ul02.jpg"  height="184" width="100%">
        </form>
    </div>
</div>
</div>
</div>   
<br />    
<hr>

<script src="/public/scripts/jquery-3.3.1.min.js"></script>
<script>

    $("#products").removeClass("nav-item active");
    $("#presentations").removeClass("nav-item active");

    $("#products").addClass("nav-item active");

</script>
{{ template "Footer" }}


{{end}}