{{define "OEEDemo01"}}
  {{ template "Header" }}
    {{ template "Menu" }}
    {{template "Nav_oee"}}


  <svg id="partitionSVG" width="400" height="400" viewBox="-400 0 1800 1800"></svg>
  <script src="/public/scripts/d3.v5.min.js"></script>

  <script src="/public/scripts/bundle.js"></script>
  {{ template "Footer" }}
{{ end }}