{{define "OrangeTag"}}
{{ template "Header" }}

{{if .User.HasPermission "Menu"}}
{{ template "Menu" }}
{{else}}
{{ template "Menu_lv1"}}
{{ end }}

{{ template "Nav_report"}}
<center>
  <div class="card" style="max-width:675px; color: #d96421;">
    <img
      class="card-img-top"
      src="/public/images/orangeTag.jpg"
      alt="Card image cap"
    />
    <div class="card-header">Etiqueta de Calidad | Naranja</div>
    <div class="card-body">
      <form method="POST" action="insertOrangeTag" id="redTagForm">
        <br />
        <h4>Prioridad</h4>
        <table class="table table-bordered table-striped">
          <thead>
            <tr style="color: black" required>
              <td id="p1" onclick="currentPriority(1)">A</td>
              <td id="p2" onclick="currentPriority(2)">B</td>
              <td id="p3" onclick="currentPriority(3)">C</td>
              <td id="p4" onclick="currentPriority(4)">D</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td id="pDescripcion"></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <input type="number" name="priority" hidden />
        <br /><br />
        <h3 id="lostTitle">Equipo</h3>
        <br />

        <div class="form-group row" style="padding-left: 10px">
          <input
            id="searchbox"
            class="form-control form-control-sm ml-3 w-75"
            type="text"
            placeholder="Buscar"
            aria-label="Buscar"
            style="font-size: 24px"
          />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <div id="table-wrapper">
          <div id="table-scroll">
            <table class="table table-responsive table-bordered table-striped">
              <thead>
                <tr style="color: black">
                  <td>ID</td>
                  <td>Nombre</td>
                </tr>
              </thead>
              <tbody id="tableData">
                {{ range.Equipo  }}
                <tr onclick="currentEvent({{ .Id}})">
                  <td>{{ .Id}}</td>
                  <td>{{ .Name}}</td>
                </tr>
                {{    end }}
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <h4 id="currentStop">Equipo seleccionado</h4>
        <p style="outline: 5px dotted #d96421;" id="equipoActual"></p>
        <input type="number" name="equipo" hidden />
        <br />
        <br />
        <div class="form-group">
          <label for="">Tipo de desviacion encontrada</label>
          <select
            name="id_anomaly"
            id="id_anomaly"
            class="form-control"
            style="color: #d96421;"
          ></select>
        </div>
        <br />
        <label>Descripcion de la anomalia</label>
        <textarea
          name="anomalia"
          class="form-control"
          form="redTagForm"
          cols="30"
          rows="5"
        ></textarea>
        <br />

        <br /><br />
        <label>Descripcion de la mejora</label>
        <textarea
          name="mejora"
          class="form-control"
          form="redTagForm"
          cols="30"
          rows="5"
        ></textarea>
        <br />

        <input class="btn btn-block" type="submit" value="Enviar" />
        <br />
        <img
          class="card-img-bottom"
          src="/public/images/visual_ul02.jpg"
          height="184"
          width="100%"
        />
      </form>
    </div>
  </div>
</center>
<script src="/public/scripts/jquery-3.3.1.min.js"></script>

<script>
  var $rows = $("#tableData tr");

  $("#searchbox").keyup(function() {
    var val = $.trim($(this).val())
      .replace(/ +/g, " ")
      .toLowerCase();

    $rows
      .show()
      .filter(function() {
        var text = $(this)
          .text()
          .replace(/\s+/g, " ")
          .toLowerCase();

        return !~text.indexOf(val);
      })
      .hide();
  });

  function currentPriority(j) {
    for (let index = 1; index <= 4; index++) {
      const e = document.getElementById("p" + index);
      e.style.backgroundColor = "white";
      e.style.color = "black";
      e.style.borderColor = "gray";
    }

    const e = document.getElementById("p" + j);
    const a = document.getElementById("pDescripcion");

    e.style.backgroundColor = "#d96421";
    a.style.backgroundColor = "#d96421";

    e.style.color = "white";
    a.style.color = "white";

    e.style.borderColor = "gray";
    a.style.borderColor = "gray";

    $.getJSON("/getPriorityBy?id=" + j, data => {
      $.each(data, (index, row) => {
        a.innerHTML = row.Description;
      });
    });

    $('input[name="priority"]').val(j);
  }

  function currentEvent(i) {
    $.getJSON("/getEquipmentBy?id=" + i, function(data) {
     
      document.getElementById("equipoActual").innerHTML = data.Name;
      $("#equipoActual").css("outline-style", "dotted");
      $('input[name="equipo"]').val(data.Id);
 
    });
  }

  $(document).ready(() => {
    $.getJSON("/getQa_anomaly_catalog", function(data) {
      $("#id_anomaly").empty();
      $.each(data, function(index, row) {
        $("#id_anomaly").append(
          "<option value='" + row.Id + "' >" + row.Description + "</option>"
        );
      });
    });
  });
</script>

{{ template "Footer" }}
{{ end }}
