{{define "Products"}}
    {{template "Header"}}
        {{template "Menu"}}
        {{ template "Nav_products"}}

            <div class="container">
                <table class="table table-responsive-xl table-dark table-striped" style="font-size:small">
                     <thead >

                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>PSI</th>
                        <th>Bares</th>
                        <th>Pulmon °C</th>
                        <th>Intercambiador °C</th>
                        <th>Tolva °C</th>
                        <th>Llenado PCC °C</th>
                        <th>
                            Accion | 
                            <a href="/NewProduct">
                                <button type="button" class="btn btn-success" style="margin-left: 20px">Agregar</button>
                            </a>
                        </th>

                    </tr>
                    </thead>
                    <tbody >
                    {{ range . }}
                    <tr>
                        <td><img style="object-fit: scale-down;"  src="{{ .Photo}}" width='270' height='270'></td>

                        <td>{{ .Name }} </td>
                        <td>{{ .PSI_bottom}}-{{ .PSI_top}}</td>
                        <td>{{ .Bares_bottom}}-{{ .Bares_top}}</td>
                        <td>{{ .Lung_bottom}}-{{ .Lung_top}}</td>
                        <td>{{ .Interchange_bottom}}-{{ .Interchange_top}}</td>
                        <td>{{ .Hopper_bottom}}-{{ .Hopper_top}}</td>
                        <td>{{ .Fill_bottom}}-{{ .Fill_top}}</td>
                        <td>
                         <a href="/EditProduct?id={{.Id}}">  
                          <button  type="button" class="btn btn-primary">Editar</button>
                         </a>
                         <a href="/DeleteProduct?id={{.Id}}">
                          <button  type="button" class="btn btn-danger">Borrar</button>
                        </a>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>

            
                <hr>
    <script src="/public/scripts/jquery-3.3.1.min.js"></script>
    <script>

        $("#products").removeClass("nav-item active");
        $("#presentations").removeClass("nav-item active");

        $("#products").addClass("nav-item active");

    </script>
  {{ template "Footer" }}
{{end}}