{{define "WareHouseOption"}}

<br>

<div class="row">
    <div class="col-md-4">
      <a href="/gestionCalloff" onclick="loading()" style="color: black">
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="/public/images/wcm.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Call Off</h5>
            <p class="card-text">Gestion de transacciones</p>
      
            <ul class="list-group list-group-flush">
              <li class="list-group-item">---</li>
            </ul>
          </div>
        </div>
      </a>
    </div>
 
  

    <div class="col-md-4">
      <a href="/gestionSolicitudCalloff" onclick="loading()" style="color: black">
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="/public/images/wcm.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Call Off</h5>
            <p class="card-text">Historico de </p>
            <p class="card-text">de solicitud materiales</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">---</li>
            </ul>
          </div>
        </div>
      </a>
   </div>
</div>
  

{{end}}