<!doctype html>
<title>Excel PyEngine</title>
<style>
    table{

        border-collapse: collapse;
        width: 100%;
        background-color: white;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){
        background-color: #dddddd;
    }

</style>
<div>

    <a style="color: white;" href="/process_events_template">Volver</a>
    <p style='background-color:green;color:white;'>Se proceso correctamente!</p>

    <br>

    
</div>